@font-face {
    font-family: BebasNeue-Regular;
    src: url(BebasNeue-Regular.ttf);
}


.heading {
    font-family: BebasNeue-Regular;
    font-size: 4rem;
    margin-top: 20%;
}

body {
    background: #eceaee;
}